.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.col-1 {
    background-color: blue;

}

.col-2 {
    background-color: brown;
}
.hero > div{
    min-height: 90vh;
}